html body{
    background-color: rgb(202, 176, 218);
    padding: 10px;
}
body{
    text-align: center;
}
p{
   font-size: medium; 
   font-style: inherit;
}
.container{
    padding-top: 20px;
}
.container2{
    text-align: left;
}
.rodapé{
    text-align: center;
}